# Build outputs
bin/
obj/
publish/
publish-standalone/

# IDE
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# OS
Thumbs.db
.DS_Store
desktop.ini

# .NET
*.dll
*.exe
*.pdb
*.runtimeconfig.json
*.deps.json

# Local settings
**/settings.txt
